/* winresrc.h is MSVC-only; define the constants we need for windres (MinGW). */
#define WS_POPUP            0x80000000
#define WS_CHILD            0x40000000
#define WS_VISIBLE          0x10000000
#define WS_CAPTION          0x00C00000
#define WS_SYSMENU          0x00080000
#define WS_MINIMIZEBOX      0x00020000
#define WS_GROUP            0x00020000
#define WS_TABSTOP          0x00010000
#define DS_SETFONT          0x40
#define DS_MODALFRAME       0x80
#define BS_PUSHBUTTON       0x00000000
#define BS_AUTOCHECKBOX     0x00000003
#define BS_GROUPBOX         0x00000007
#define BS_OWNERDRAW        0x0000000B
#define BS_BITMAP           0x00000080
#define BS_CENTER           0x00000300
#define SS_LEFT             0x00000000
#define SS_CENTER           0x00000001
#define SS_ICON             0x00000003
#define SS_LEFTNOWORDWRAP   0x0000000C
#define WS_EX_CLIENTEDGE    0x00000200
#define BUTTON              "BUTTON"
#define STATIC              "STATIC"

#include "resource.h"

LANGUAGE 9, 1

IDB_LOGO BITMAP "BITMAP102_1.bmp"

IDD_MAIN DIALOGEX 0, 0, 245, 165
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
   CONTROL "robin.keir@foundstone.com", IDC_LOGO_PREVIEW, BUTTON, BS_OWNERDRAW | BS_BITMAP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 24, 157 
   CONTROL "", IDC_DRAG_BTN, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 7, 21, 20 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 30, 1, 117, 27 
   CONTROL IDI_APP, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 32, 7, 20, 20 
   CONTROL "Drag the crosshair to begin", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 58, 13, 86, 8 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 149, 1, 34, 27 
   CONTROL "Copy", IDC_COPY, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 9, 24, 15 
   CONTROL "Mouse pos", -1, BUTTON, BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE, 186, 1, 53, 27 
   CONTROL "", IDC_MOUSE_X, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 194, 13, 15, 8 
   CONTROL "", IDC_MOUSE_Y, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 217, 13, 15, 8 
   CONTROL "Title", IDC_LBL_TITLE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 35, 14, 8 
   CONTROL "", IDC_TITLE, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 50, 33, 189, 11 , WS_EX_CLIENTEDGE
   CONTROL "Class name", IDC_LBL_CLASSNAME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 47, 58, 8 
   CONTROL "", IDC_CLASSNAME, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 47, 139, 8 
   CONTROL "Window handle", IDC_LBL_HANDLE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 56, 58, 8 
   CONTROL "", IDC_HANDLE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 56, 139, 8 
   CONTROL "Parent window", IDC_LBL_PARENT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 65, 58, 8 
   CONTROL "", IDC_PARENT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 65, 139, 8 
   CONTROL "Owner window", IDC_LBL_OWNER, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 74, 58, 8 
   CONTROL "", IDC_OWNER, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 74, 139, 8 
   CONTROL "Window ID", IDC_LBL_WINDOWID, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 83, 58, 8 
   CONTROL "", IDC_WINDOWID, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 83, 139, 8 
   CONTROL "Window proc", IDC_LBL_WNDPROC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 92, 58, 8 
   CONTROL "", IDC_WNDPROC, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 92, 139, 8 
   CONTROL "Client coords", IDC_LBL_CLIENT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 101, 58, 8 
   CONTROL "", IDC_CLIENT_COORDS, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 101, 139, 8 
   CONTROL "Window coords", IDC_LBL_WINDOW, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 110, 58, 8 
   CONTROL "", IDC_WINDOW_COORDS, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 110, 139, 8 
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 30, 123, 80, 38 
   CONTROL "Highlight windows", IDC_OPT_HIGHLIGHT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 136, 70, 8 
   CONTROL "Include invisibles", IDC_OPT_INVISIBLE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 145, 69, 8 
   CONTROL "Right click on window to...", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 114, 123, 125, 38 
   CONTROL "Hide/Show", IDC_OPT_HIDESHOW, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 133, 52, 8 
   CONTROL "Enable/Disable", IDC_OPT_ENABLE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 141, 65, 8 
   CONTROL "Repaint", IDC_OPT_REPAINT, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 141, 41, 8 
   CONTROL "Close", IDC_OPT_CLOSE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 133, 33, 8 
   CONTROL "On top", IDC_OPT_ONTOP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 150, 37, 8 
   CONTROL "Not on top", IDC_OPT_NOTONTOP, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 150, 49, 8 
}

IDC_CROSSHAIR CURSOR "CURSOR103_1.cur"

IDI_APP ICON "ICON104_1.ico"


1 VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904b0"
	{
		VALUE "CompanyName", "Foundstone Inc."
		VALUE "FileDescription", "showin"
		VALUE "FileVersion", "2, 0, 0, 0"
		VALUE "InternalName", "showin"
		VALUE "LegalCopyright", "Copyright \xA9 2000 FOundstone"
		VALUE "OriginalFilename", "showin.exe"
		VALUE "ProductName", "  showin"
		VALUE "ProductVersion", "2, 0, 0, 0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 0x04B0
}
}
